In [1]:
import pandas as pd
from pathlib import Path
path_to_processed_data = Path("../src/data/processed")
import jax.numpy as jnp
import jax

In [5]:
ts_ref = pd.read_csv(path_to_processed_data / "timeseries_corrected.csv")
ts_ref["date"] = pd.to_datetime(ts_ref["date"])

ts_fut = pd.read_csv(path_to_processed_data / "climate_projections_q.csv")

In [6]:
ts_fut

,bias_corrrection,model,q,eact,perc,recharge,storage
0,dbs,arpege-hirham5,0.970503,0.190000,0.000000,-0.891065,431.81607
1,dbs,arpege-hirham5,1.027345,0.230000,0.000000,-0.888567,431.07870
2,dbs,arpege-hirham5,1.859752,0.110000,1.660148,14.013304,448.14877
3,dbs,arpege-hirham5,1.810403,0.330000,0.150779,0.427792,448.39758
4,dbs,arpege-hirham5,1.686901,0.000000,0.000000,-0.926610,446.71066
...,...,...,...,...,...,...,...
391109,deltachange,HadCM3-HadRM3,1.392387,0.559945,0.000000,-1.206589,534.04254
391110,deltachange,HadCM3-HadRM3,1.348074,0.556970,0.000000,-1.203202,532.13745
391111,deltachange,HadCM3-HadRM3,1.540795,0.601667,0.322905,1.698168,536.77014
391112,deltachange,HadCM3-HadRM3,1.747118,0.601667,0.441867,2.761052,540.60144
391113,deltachange,HadCM3-HadRM3,1.977258,0.601667,0.587763,4.062654,545.90480

In [3]:
ts_ref

             date          p    t      epot   q
0      1875-01-01   2.680035 -3.1  0.266667 NaN
1      1875-01-02   0.110001 -3.3  0.266667 NaN
2      1875-01-03   0.210003 -2.2  0.266667 NaN
3      1875-01-04   1.150015  1.1  0.266667 NaN
4      1875-01-05   8.390110  1.3  0.266667 NaN
...           ...        ...  ...       ...  ..
48572  2007-12-27   0.200000  6.4  0.316667 NaN
48573  2007-12-28   9.040000  6.6  0.316667 NaN
48574  2007-12-29   9.190000  6.4  0.316667 NaN
48575  2007-12-30  14.320000  5.3  0.316667 NaN
48576  2007-12-31   0.000000  2.8  0.316667 NaN

[48577 rows x 5 columns]